body {
  background-color: #D9C9AA; }

.footer-area {
  background: #252525; }

.Mededeling {
  background-color: #6B7C91;
  padding-bottom: 30px;
  padding-top: 10px;
  margin-bottom: 50px;
  width: 95%;
  margin-left: fill;
  box-shadow: 10px 10px 5px grey;
  padding-left: 5px; }

.carousel-inner {
  background-color: #F7892F; }

.cardfaction {
  width: 10%;
  Height: 10%; }

.cardjunior {
  width: 10%;
  Height: 10%; }

.cardsweethaze {
  width: 10%;
  Height: 10%; }

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }

.agenda {
  background-color: #F7892F;
  margin-bottom: 30px;
  padding-top: 10px;
  width: 95%;
  height: 80%;
  box-shadow: 10px 10px 5px grey;
  padding-left: 5px; }

.h2 {
  background-color: #D9C9AA; }

.Informatie {
  background-color: #6B7C91;
  width: 95%;
  padding-top: 10px;
  margin-bottom: 30px;
  box-shadow: 10px 10px 5px grey;
  padding-bottom: 30px;
  padding-left: 5px; }

.History {
  background-color: #F7892F;
  margin-bottom: 30px;
  padding-top: 10px;
  width: 95%;
  height: 80%;
  box-shadow: 10px 10px 5px grey;
  padding-right: 5px;
  padding-bottom: 30px;
  padding-left: 5px; }

.picturesOka {
  height: 30%;
  width: 30%;
  float: left; }

.verhuur {
  background-color: #6B7C91;
  padding-bottom: 30px;
  padding-top: 10px;
  margin-bottom: 50px;
  width: 95%;
  margin-left: fill;
  box-shadow: 10px 10px 5px grey;
  padding-left: 5px; }

.Contact {
  background-color: #F7892F;
  margin-bottom: 30px;
  padding-top: 10px;
  width: 95%;
  height: 80%;
  box-shadow: 10px 10px 5px grey;
  padding-right: 5px;
  padding-bottom: 30px;
  padding-left: 5px; }

.form-area {
  height: 30px; }

.footer-area .social-icon li {
  display: inline-block; }

.footer-area .social-icon li a {
  color: #000;
  background: #fff;
  width: 35px;
  height: 35px;
  line-height: 40px;
  display: block;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  margin: 15px 6px 12px 6px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s; }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none; }

.carousel-control-next-icon:after {
  content: '>';
  font-size: 55px;
  color: red; }

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: red; }

button {
  background-color: #F7C431; }

/* footer to edit later
.footer-area .social-icon li a:hover {
  color: #fff;
}

.footer-area .social-icon li .facebook:hover {
  background: #3B5998;
}

.footer-area .social-icon li .twitter:hover {
  background: #00aced;
}

.footer-area .social-icon li .instagram:hover {
  background: #fb3958;
}

.footer-area .social-icon li .foursqare:hover {
  background: #25a0ca;
}

.footer-area .social-icon li .google:hover {
  background: #d34836;
}

.footer-area .social-icon li .spotify:hover {
  background: #1db954;
}

.footer-area .footer-text p {
  font-size: 14px;
  margin-top: 20px;
  color: #fff;
}

.footer-area .footer-text p a {
  color: #E91E63;
}

.footer-area .footer-text .nav-inline .nav-link {
  padding: 11px 7px;
  color: #888;
}

.footer-area .footer-text .nav-inline .nav-link:hover {
  color: #E91E63;
}

.footer-2 {
  background: #252525;
}

.footer-2 img {
  margin-top: -8px;
}

.footer-2 h3 {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 10px;
  letter-spacing: 0.5px;
}

.footer-2 p {
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  margin: 0;
  padding-right: 50px;
}

.footer-2 ul li a {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
}

.footer-2 ul li a:hover {
  color: #E91E63;
}

#copyright {
  background: #333;
}

#copyright p {
  line-height: 42px;
  color: #fff;
  margin: 0;
}

#copyright p a {
  color: #fff;
}

#copyright p a:hover {
  color: #E91E63;
}

 */

/*# sourceMappingURL=style.css.map */
